.blog{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 1000px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	padding: 50px;
	border-radius: 5px;
}

.blog img{
	height: 400px;
}
@media screen and (max-width: 768px) {
	.blog img{
		height: 300px;
	}
}
@media screen and (max-width: 580px) {
	.blog{
		width: 450px;
	}
	.blog img{
		height: 220px;
	}
}
@media screen and (max-width: 500px) {
	.blog{
		width: 400px;
		padding: 40px;
	}
	.blog img{
		height: 200px;
	}
}
@media screen and (max-width: 450px) {
	.blog{
		width: 350px;
		padding: 30px;
	}
	.blog img{
		height: 160px;
	}
}
@media screen and (max-width: 375px) {
	.blog{
		width: 300px;
		padding: 40px 20px;
	}
	.blog img{
		height: 140px;
	}
}
@media screen and (max-width: 330px) {
	.blog{
		width: 270px;
		padding: 40px 20px;
	}
	.blog img{
		height: 140px;
	}
}