.menu-part{
	background-color: transparent !important;
	box-shadow: none !important;
}
.active {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user-navbar{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 991px) {
	/* #responsive-navbar-nav{
		background-color: rgb(255, 255, 255);
	} */
	.nav{
		background-color: rgb(250, 250, 250);
		position: static;
	}
	.user-navbar{
		flex-direction: column;
	}
}