.home-event-details{
	margin-top: 100px;
	background-color: white;
	border-radius: 5px;
	padding: 50px;
}
.home-event-details-parts{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 40px;
	align-items: center;
}
.home-event-part1{

}
.home-event-part2{
	justify-self: right;
}