.user-events{
	margin-top: 100px;
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 992px) {
	.user-events{
		grid-template-columns: 1fr;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 400px) {
	
}